{% extends 'base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link​​ rel​=​"stylesheet"​​ href​ =​ "{% static 'css\bootstrap.min.css' %}"​>
    <title>Home</title>
</head>
<body>

        <section class="py-5 text-white"style="background-size:cover; background: url({% static '/Users/kristiangutierrez/lab4/media/images/1959GibsonLesPaulStandardBrianRay-1.jpg' %}) no-repeat top center; position:relative; min-height:330px; width:100%">
        <div class="container col-md-12"style="background:rgba(97, 209, 134, 0.55); min-height:100%; position:absolute; top:0; left:0;">
        <div class="row text-center">
        <div class="col-md-12">
        <h1 class="display-4 text-white mt-5">Kristian's Guitar Shop</h1>
        <p class="lead">Look at awesome guitars</p>
        <input type="button"class="btn btn-primary"value="Search Guitars" href​= "{% url 'search' %}"></div>
        </div>
        </div>
        </section>
</body>
</html>
{% endblock %}