{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title>Used Car Sales</title>
    </head>

    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Made: {{product.made}} 
                            </li>
                            <li class="list-group-item">Average Cost: $
                                {{product.price}}</li>
                            <li class="list-group-item">Date of Purchase:
                                {{product.dateOfPurchase}} </li>
                            <li class="list-group-item">Customer Name:
                                {{product.customerName}} </li>
                            <li class="list-group-item">Customer E-mail:
                                {{product.customerEmail}}</li>
                            <li class="list-group-item">
                                Where to Ship: {{product.shippingAddress}}
                                </li>
                            <li class="list-group-item">
                                City:
                                {{product.city}} </li>
                            <li class="list-group-item">
                                Zip Code: 
                                {{product.zipCode}}
                                </li>
                            <li class = "list-group-item">
                                Country (Where we are available): 
                                {{product.chooseCountry}}
                            </li>
                        </ul>
                    </div>
                    <input type="button" value="More Info" class="btn btn-primary" onclick= "ShowMoreInfo()">
                </div>
            </div>
        </div>
        <!--THIS IS THE HIDDEN HTML-->
        <hr>
        <form method="POST">
        <div id="moreinfo" class="container" style="display:none;" >
            <div class="row">
            <input type="hidden" name="productid" value={{product.customerID}}>
            <input type="hidden" name="productname" value={{product}}>
            <div class="col-12">
                <h3>Inquire about the guitar</h3>
            </div>

            <div class="col-6">
                <label class="control-label">Guitar ID (located in URL):</label>
                <input type="number" class="form-control" name="productid">
            </div>

            <div class="col-6">
                <label class="control-label">Guitar Name:</label>
                <input type="text" class="form-control" name="productname">
            </div>

            <div class="col-6">
                <label class="control-label">Name:</label>
                <input type="text" class="form-control" name="name">
            </div>

            <div class="col-6">
                <label class="control-label">Phone:</label>
                <input type="text" class="form-control" name="phone">
            </div>
            <div class="col-6">
                <label class="control-label">Email:</label>
                <input type="text" class="form-control" name="email">
            </div>
            <div class="col-12">
                <label class="control-label">Message:</label>
                <textarea class="form-control" cols="30" rows="10" name = "message"></textarea>
            </div>
            <br>
            {% csrf_token %}
            <div class="col-6 form-group">
                <input type="submit" value="Send" class = "form-control btn-primary btn-small">
            </div>
            </div>
        </div>
    </form>
        <script>
        function ShowMoreInfo(){
            document.getElementById("moreinfo").style.display = ""; 
        }
    </script>
    </body>
    </html>

{% endblock %}