{% extends 'base.html' %}
{% load static %}
    {% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css\bootstrap.min.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="row"> {% for product in object_list %} <div class="card border-success m-3 col-md-4"
                style="max-width: 20rem;">
                <div class="card-header">{{product.name}}</div>
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text">Available: {{product.count}}</p>
                    <p class="card-text" style="height:200px; width:200px" alt=""> 
                    <img src = "{{product.photo.url}}" style="height:200px; width:200px" alt=""> 
                    </p>
                </div>
                <div class = "card-footer text-muted">
                    <a href = {% url 'product' product.customerID %} class="btn btn-primary btn-block">Show Details </a>
                </div>
            </div> 
            {% endfor %} 
        </div>
    </div>
</body>

</html>
    {% endblock %}