{% extends 'base.html' %}
{% load static %}
{% block content %}

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form method="get">
          <fieldset>
            <legend>Enter your search criteria</legend>
            <div class="form-group">
              <label for="Description">Description:</label><input
                type="text"
                class="form-control"
                name="description"
                aria-described
                by="description"
                placeholder="Description (e.g. specify by color, fret finish, etc.)"
              />
            </div>
            <div class="form-group">
              <label for="Features">Price:</label>
              <input
                type="text"
                class="form-control"
                name="price"
                aria-describedby="description"
                placeholder="Price"
              />
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>

{% if products %}
<div class="container">
  <div class="row">

  {% for product in products %}
  <div class="col-md-4 d-flex">
      <div class="card border-primary mt-3 mb-3">
        <div class="card-header">Name: {{product}} Type:{{viewtype}}
</div>
<div class="card-body">
  <h4 class="card-title">$ {{product.price}}</h4>
    <p class="card-text">{{product.description}}</p>
      <img src="{{ product.photo.url }}"style="height: 200px; width: 300px;"alt="Product Image">
        </div>
        <div class="card-footer text-muted">
            Show Details</div>
            </div>
            </div>{% endfor %}</div>
            </div>{% endif %}
{% endblock %}