{% extends 'base.html' %}

{% block content %}

    <div class="container"> 
        <h1>Login Page</h1>
        <div class="row">
                <form method="POST">
                    <h3>Login</h3>
                    <p class="form-group">{{message}}</p>
                    <div class="form-group">
                        <label class="control-label">Username:</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password:</label>
                        <input type="password" name="password" class="form-control">
                    </div>

                    <input type="submit" value="login" class="btn btn-primary">
                    {% csrf_token %}
                </form>
            </div>
    </div>
{% endblock %}