{% extends 'base.html' %}
 {% block content %}

<div class = "container" >
      <h1>Registration Page</h1>
<div class = "row">
<form method = "POST">
  <div class = "form-group">
    <label class= "control-label">User Name:</label>
    <input class = "form-control" type="text" name="username"></input>
  </div>
  <div class= "form-group">
    <label class="control-label">First Name:</label>
  <input class = "form-control" type="text" name="first_name"> 
  </div>
  <div class= "form-group">
    <label class="control-label">Last Name:</label>
  <input class = "form-control" type="text" name="last_name"> 
  </div>
    <div class= "form-group">
    <label class="control-label">E-mail Address:</label>
  <input class = "form-control" type="text" name="email"> 
  </div>
  <div class= "form-group">
    <label class="control-label">Password</label>
  <input class = "form-control" type="password" name="password"> 
  </div>
    <input class="form-control btn btn-secondary" type="submit" value="submit">
    {% csrf_token %}
  </form>
</div>
</div>
  {% endblock %}
