{% extends 'base.html' %}
 {% load static %} 
 {% block content %}

<section
  class="py-5 text-white"
  style="background-size:cover; background: url({% static 'img/background3.jpg' %}) no-repeat top center; position:relative; min-height:130px; width:100%"
>
  <div
    class="container col-md-12"
    style="background: rgba(32, 134, 107, 0.85); min-height:100%; position:absolute; top:0; left:0;"
  >
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-4 text-white">Contact Us!</h1>
        <p class="lead">
          Contact us for any purchashing needs you have today!
        </p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <form method="post">
          <fieldset>
            <legend>Request for more info related to our guitars</legend>
            <div class="form-group">
              <label for="Features">Name:</label
              ><input
                type="text"
                class="form-control"
                name="name"
                aria-describedby="features"
                placeholder="Name"
              />
            </div>
            <div class="form-group">
              <label for="Features">Phone:</label
              ><input
                type="text"
                class="form-control"
                name="phone"
                aria-describedby="features"
                placeholder="Phone"
              />
            </div>
            <div class="form-group">
              <label for="Features">Email:</label
              ><input
                type="email"
                class="form-control"
                name="email"
                aria-describedby="features"
                placeholder="Email"
              />
            </div>
            <div class="form-group">
              <label for="Features">Message:</label
              ><textarea
                name="message"
                class="form-control"
                placeholder="Type message here"
                rows="8"
              ></textarea>
            </div>
            {% csrf_token %}<button type="submit" class="btn btn-primary">
              Submit
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>

</section>
  {% endblock %}
