{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link​​ rel​=​"stylesheet"​​ href​ =​ "{% static 'css\bootstrap.min.css' %}"​>
    <title></title>
</head>
<body>
    <footer>
        <p>Kristian Gutierres</p>
        <p>Contact information: <a href="mailto:gutierresk1@student.lasalle.edu">
        gutierresk1@student.lasalle.edu</a></p>
    </footer>
</body>
</html>