{% load static %}
<!DOCTYPEhtml>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title>Guitar Stop</title>
    </head>

    <body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Guitar Stop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'products' %}">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'search' %}">Search</a>
      </li>
      <li>
        <a class="nav-link" href="{% url 'contactus' %}">Contact Us</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}

      <li
        {% if 'register' in request.path %}
          class="nav-item active"
        {% else %}
          class="nav-item"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      </li>
        
      <li
        {% if 'login' in request.path %}
          class="nav-item active"
        {% else %}
          class="nav-item"
        {% endif %}
      >
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
        <li
          {% if 'register' in request.path %}
            class="new-item active"
          {% else %}
            class="nav-item"
          {% endif %}
        >
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>

      <li 
        {% if 'login' in request.path %}
          class="nav-item active"
          {% else %}
            class="nav-item"
          {% endif %}  
      >
        <a class="nav-link" href="{% url 'login' %}">Login</a>
      </li>
      {% endif %}

    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
</body>
</html>
