{% extends 'base.html' %}
{% block  content %}
    <div class="container">
            <h1>Dashboard</h1>
        <div class="row">
            <div class = "col-12">
                <table class="table">
                    <thread>
                        <tr>
                            <th>Date</th>
                            <th>Guitar Name</th>
                            <th>Phone</th>
                            <th>E-mail</th>
                            <th>Message</th>
                        </tr>
                    </thread>
                    <tbody>
                        {% for inquiry in inquiries %}
                            <tr>
                                <td>{{inquiry.inquiry_date}}</td>
                                <td>{{inquiry.productname}}</td>
                                <td>{{inquiry.phone}}</td>
                                <td>{{inquiry.email}}</td>
                                <td>{{inquiry.message}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
            </div>
        </div>
    </div>
{% endblock  %} 